[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
apify-client = "*"
python-dotenv = "*"
pandas = "*"
requests = "*"
aiohttp = "*"
asyncio = "*"
google-cloud-secret-manager = "*"
apify = "*"
pytest = "*"
pytest-cov = "*"

[dev-packages]

[requires]
python_version = "3.11"
