apiVersion: v1
kind: Service
metadata:
  name: vector-service
  namespace: "{{ namespace }}"
spec:
  type: ClusterIP  # Changed from default (which is ClusterIP) for consistency
  ports:
    - name: "8001"
      port: 8001
      targetPort: 8001
  selector:
    io.kompose.service: vector-service
